In [2]:
import pandas as pd
import re

In [37]:
ext = (".xls", ".xlsx")
file = 'People.csv'
if(file.endswith(ext)):
    # Code for XLS
    df = pd.read_excel(file)
else:
    # Code for CSV
    df = pd.read_csv(file, sep=',',  engine='python', error_bad_lines=False)

In [38]:
df = pd.read_csv('People.csv')
df1 = pd.read_json('People.json')

In [39]:
df.head()

,person_ID,name,first,last,middle,email,phone,fax,title
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor
4,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator

In [40]:
df1.head()

,email,fax,first,last,middle,name,person_ID,phone,title
0,BurksR@univ.edu,963.777.4065,Rosella,Burks,,"Burks, Rosella",3130,963.555.1253,Professor
1,AvilaD@univ.edu,963.777.7914,Damien,Avila,,"Avila, Damien",3297,963.555.1352,Professor
2,OlsenR@univ.edu,963.777.9262,Robin,Olsen,,"Olsen, Robin",3547,963.555.1378,Assistant Professor
3,MoisesE@univ.edu,963.777.8264,Edgar,Moises,Estes,"Moises, Edgar Estes",1538,963.555.2731x3565,Professor
4,BrianH@univ.edu,963.777.7249,Heath,Brian,Pruitt,"Brian, Heath Pruitt",2941,963.555.2800,Associate Curator

In [42]:
# Here first we need to change the arrange the column
columns = list(df.columns)
df1 = df1[columns]

In [43]:
df1.head()

,person_ID,name,first,last,middle,email,phone,fax,title
0,3130,"Burks, Rosella",Rosella,Burks,,BurksR@univ.edu,963.555.1253,963.777.4065,Professor
1,3297,"Avila, Damien",Damien,Avila,,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor
2,3547,"Olsen, Robin",Robin,Olsen,,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor
4,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator

In [79]:
intersected_df = pd.merge(df, df1, how='inner')

In [85]:
intersected_df

,person_ID,name,first,last,middle,email,phone,fax,title
0,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor
1,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator
2,2401,"Claude, Elvin Haney",Elvin,Claude,Haney,ClaudeE@univ.edu,963.555.2902,963.777.9730,Curator
3,2561,"Derek, Antoine Mccoy",Antoine,Derek,Mccoy,DerekA@univ.edu,963.555.2992,963.777.5454,Curator
4,2755,"Kendrick, Reba Alford",Reba,Kendrick,Alford,KendrickR@univ.edu,963.555.4618x7744,963.777.4371,Associate Curator
5,2096,"Chuck, Lloyd Haney",Lloyd,Chuck,Haney,ChuckL@univ.edu,963.555.5568x2652,963.777.9290,Assistant Professor
6,2948,"Baxter, Johnathan Browning",Johnathan,Baxter,Browning,BaxterJ@univ.edu,963.555.5902,963.777.8336,Research Professor
7,2811,"Deirdre, Florence Barrera",Florence,Deirdre,Barrera,DeirdreF@univ.edu,963.555.6319,963.777.9654,Associate Curator
8,4580,"Fernando, Toby Calderon",Toby,Fernando,Calderon,FernandoT@univ.edu,963.555.6469,963.777.9864,Research Professor
9,2254,"Effie, Leila Vinson",Leila,Effie,Vinson,EffieL@univ.edu,963.555.6824,963.777.7299,Assistant Professor
10,2217,"Katheryn, Ruben Holt",Ruben,Katheryn,Holt,KatherynR@univ.edu,963.555.7578,963.777.3969,Assistant Professor
11,2682,"Earline, Jaime Fitzgerald",Jaime,Earline,Fitzgerald,EarlineJ@univ.edu,963.555.8357,963.777.4114,Associate Curator
12,3112,"Evelyn, Summer Frost",Summer,Evelyn,Frost,EvelynS@univ.edu,963.555.8895,963.777.5730,Professor
13,2303,"Quentin, Sam Hyde",Sam,Quentin,Hyde,QuentinS@univ.edu,963.555.8921,963.777.2712,Assistant Professor
14,3095,"Shields, Rich Pena",Rich,Shields,Pena,ShieldsR@univ.edu,963.555.9197,963.777.7215,Professor

In [95]:
# df is not in df1
df[~df.apply(tuple,1).isin(df1.apply(tuple,1))]

,person_ID,name,first,last,middle,email,phone,fax,title
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor
6,2070,"Mosley, Edmund",Edmund,Mosley,NaN,MosleyE@univ.edu,963.555.2945,963.777.9285,Assistant Professor
8,1625,"Hawkins, Callie",Callie,Hawkins,NaN,HawkinsC@univ.edu,963.555.3350x6480,963.777.4949,Professor
9,1307,"Pate, Andrea",Andrea,Pate,NaN,PateA@univ.edu,963.555.3723,963.777.5049,Professor
10,2342,"Austin, Liz",Liz,Austin,NaN,AustinL@univ.edu,963.555.4305,963.777.6143,Assistant Professor
12,4150,"Sims, Angelina",Angelina,Sims,NaN,SimsA@univ.edu,963.555.5278,963.777.4400,Professor
13,3544,"Mullins, Kimberly",Kimberly,Mullins,NaN,MullinsK@univ.edu,963.555.5471x1017,963.777.9783,Assistant Professor
15,1089,"Payne, Ladonna",Ladonna,Payne,NaN,PayneL@univ.edu,963.555.5639,963.777.6469,Professor
17,4539,"Weiss, Gilbert",Gilbert,Weiss,NaN,WeissG@univ.edu,963.555.5969,963.777.4975,Professor
20,2895,"Garrison, Patrica",Patrica,Garrison,NaN,GarrisonP@univ.edu,963.555.6760,963.777.4958,Associate Curator
22,2389,"Buckley, Rose",Rose,Buckley,NaN,BuckleyR@univ.edu,963.555.6855x5018,963.777.5233,Curator
23,1699,"Stanton, Kathie",Kathie,Stanton,NaN,StantonK@univ.edu,963.555.7095,963.777.1015,Professor
24,1567,"Banks, Shannon",Shannon,Banks,NaN,BanksS@univ.edu,963.555.7198,963.777.6979,Professor
25,3066,"Barnes, Cleo",Cleo,Barnes,NaN,BarnesC@univ.edu,963.555.7463x7335,963.777.1583,Research Professor
26,2426,"Brady, Nellie",Nellie,Brady,NaN,BradyN@univ.edu,963.555.7569,963.777.7218,Curator
28,1968,"Michael, Dianne",Dianne,Michael,NaN,MichaelD@univ.edu,963.555.7592,963.777.9960,Assistant Professor
29,3012,"Grant, Adam",Adam,Grant,NaN,GrantA@univ.edu,963.555.7775,963.777.8115,Research Professor
30,1824,"Head, Kurtis",Kurtis,Head,NaN,HeadK@univ.edu,963.555.7882,963.777.6348,Professor
31,3929,"Berger, Jami",Jami,Berger,NaN,BergerJ@univ.edu,963.555.8158,963.777.5650,Research Professor
35,3903,"Dunlap, Ann",Ann,Dunlap,NaN,DunlapA@univ.edu,963.555.9067,963.777.4290,Assistant Professor
37,2383,"Page, Winnie",Winnie,Page,NaN,PageW@univ.edu,963.555.9366,963.777.3202,Curator
38,2146,"Sparks, Ezra",Ezra,Sparks,NaN,SparksE@univ.edu,963.555.9390,963.777.9273,Assistant Professor
39,3958,"Kaufman, Elba",Elba,Kaufman,NaN,KaufmanE@univ.edu,963.555.9507,963.777.3298,Professor

In [105]:
#df is in df1
df[df.apply(tuple,1).isin(df1.apply(tuple,1))]

,person_ID,name,first,last,middle,email,phone,fax,title
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor
4,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator
5,2401,"Claude, Elvin Haney",Elvin,Claude,Haney,ClaudeE@univ.edu,963.555.2902,963.777.9730,Curator
7,2561,"Derek, Antoine Mccoy",Antoine,Derek,Mccoy,DerekA@univ.edu,963.555.2992,963.777.5454,Curator
11,2755,"Kendrick, Reba Alford",Reba,Kendrick,Alford,KendrickR@univ.edu,963.555.4618x7744,963.777.4371,Associate Curator
14,2096,"Chuck, Lloyd Haney",Lloyd,Chuck,Haney,ChuckL@univ.edu,963.555.5568x2652,963.777.9290,Assistant Professor
16,2948,"Baxter, Johnathan Browning",Johnathan,Baxter,Browning,BaxterJ@univ.edu,963.555.5902,963.777.8336,Research Professor
18,2811,"Deirdre, Florence Barrera",Florence,Deirdre,Barrera,DeirdreF@univ.edu,963.555.6319,963.777.9654,Associate Curator
19,4580,"Fernando, Toby Calderon",Toby,Fernando,Calderon,FernandoT@univ.edu,963.555.6469,963.777.9864,Research Professor
21,2254,"Effie, Leila Vinson",Leila,Effie,Vinson,EffieL@univ.edu,963.555.6824,963.777.7299,Assistant Professor
27,2217,"Katheryn, Ruben Holt",Ruben,Katheryn,Holt,KatherynR@univ.edu,963.555.7578,963.777.3969,Assistant Professor
32,2682,"Earline, Jaime Fitzgerald",Jaime,Earline,Fitzgerald,EarlineJ@univ.edu,963.555.8357,963.777.4114,Associate Curator
33,3112,"Evelyn, Summer Frost",Summer,Evelyn,Frost,EvelynS@univ.edu,963.555.8895,963.777.5730,Professor
34,2303,"Quentin, Sam Hyde",Sam,Quentin,Hyde,QuentinS@univ.edu,963.555.8921,963.777.2712,Assistant Professor
36,3095,"Shields, Rich Pena",Rich,Shields,Pena,ShieldsR@univ.edu,963.555.9197,963.777.7215,Professor